h1.mokuzi{
    font-size:300%;
}
strong#name{
    text-decoration: underline;
}
/*コメント*/
nav ul li{
    display:inline-block;
    margin:0 20px;
}
nav{
    text-align:center;
}

nav ul li a{
    text-decoration:none;
}

*{
    margin:0;
    padding:0;
}

table, td, th {
    border: 1px solid gray;
}

footer a {
    display: inline-block;
}

#imag1 {
    width: 300px;
    position: relative;
    top: -32px;
}

#imag2 {
    width: 300px;
    margin-left: 15px;
}